
.stacking-container {

  .stacking-orider {

    .orider-box {
      display: inline-block;
      position: relative;
      top: 20px;
      left: 80px;
      width: 200px;
      height: 100px;
      padding: 2px;
      box-sizing: border-box;
      border: 2px solid black;

      &:before {
        content: attr(content);
      }

      &:after {
        content: '';
        background-color: white;
        display: inline-block;
        position: absolute;
        text-align: right;
      }
    }

    div[content^=background], 
    div[content^=block],
    div[content^=inline] {
      &:after {
        top: 0;
        right: -200px;
        border-bottom: 2px solid black;
        width: 150px;
      }
    }

    div[content^=background] {
      background-color: #5f5c5c;
      &:after {
        content: '装饰';
      }
    }
    div[content^=负z] {
      background-color: #8e8b8b;
    }
    div[content^=block] {
      background-color: #c3c2c2;
      &:after {
        content: '布局';
      }
    }
    div[content^=float] {
      background-color: #d8d3d3;
    }
    div[content^=inline] {
      background-color: #f9ecec;
      &:after {
        content: '内容';
      }
    }
    div[content^=z] {
      background-color: #f3f1f1; 
    }
    div[content^=正] {
      background-color: #fdfafa;
    }
  }

  .stacking-box-multi-background-image-ie8 {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1549524806469&di=0c3a03b6bf3438e3d21a43a88285c242&imgtype=0&src=http%3A%2F%2Fpic35.nipic.com%2F20131114%2F2531170_170015372001_2.jpg);
    display: inline-block;
    width: 600px;
    height: 300px;
    z-index: 0;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    &:before {
      background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1549525044475&di=8533bd7f25517ab750c0be0dc06eb6a3&imgtype=0&src=http%3A%2F%2Fpic34.photophoto.cn%2F20150308%2F0017030530142647_b.jpg);
      bottom: 50%;
      right: 50%;
    }
    &:after {
      background-image: url(http://pic28.photophoto.cn/20130706/0021033800683279_b.jpg);
      left: 50%;
    }
  }

  .stacking-box-page-radius {
    background-color: #666;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    z-index: 0;

    .sgbpr-page {
      background-color: #f4f39e;
      position: relative;
      height: 200px;
      width: 300px;
      display: inline-block;

      &:before, &:after {
        content: '';
        width: 90%;
        height: 20%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
        position: absolute;
        z-index: -1;
      }

      &:before {
        transform: skew(-15deg) rotate(-5deg);
        transform-origin: left bottom;
        left: 0;
        bottom: 0;
      }

      &:after {
        transform: skew(15deg) rotate(5deg);
        transform-origin: right bottom;
        right: 0;
        bottom: 0;
      }
    }
  }

  .stacking-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
