
.anchor-position {
  .content {
    height: 1000px;
    background-color: #cccccc;
  }
  .anchor {
    padding-top: 100px;
    background-color: #00ff72c4;
  }

  .anchor-position-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
