
.triangle-container {

  div[class^=triangle] {
    margin-right: 20px;
  }

  .triangle-1 {
    border: 20px;
    border-color: #ff3300 #0000ff #339966 #00ff00;
    border-style: solid;
    display: inline-block;
  }

  .triangle-2 {
    border: 20px;
    border-color: #ff3300 #0000ff #339966 #00ff00;
    border-style: solid;
    display: inline-block;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .triangle-3 {
    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 60px;
    border-bottom-width: 60px;

    border-color: #ff3300 #0000ff #339966 #00ff00;
    border-style: solid;
    display: inline-block;
  }
}


.triangle-note {
  background: white;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  p {
    padding: 0;
    margin: 0;
  }
}