.lw-content {

  .lw-table {
    display: table;
    border: 1px solid #cccccc;
    width: 100%;

    .lw-row {
      background-color: red;
      display: table-row;
      height: 35px;

      .lw-column {
        display: table-cell;
        background-color: green;
        height: 100%;
        border-left: solid 2px red;
      }

      .lw-column-lable {
        max-width: 160px;
        min-width: 50px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;                
        .lwc-lable { }
      }
      .lw-column-value {
        width: 100%;
        background-color: yellow;
        .lwc-lable { }
      }
    }
  }

  .lw-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;

    p {
      padding: 0;
      margin: 0;
    }
  }
}
