
.half-line-height-container {

  .half-line-height {
    font-family: simsun;
    font-size: 80px;
    line-height: 120px;
    background-color: yellow;

    .test {
      background-color: #ccc;
      box-sizing: content-box;
    }
  }

  .hlht-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
