
.table-layout {

  .mao-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;

    p {
      padding: 0;
      margin: 0;
    }
  }

  table {
    width: 90%;
    table-layout: auto;
    margin: 20px;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;

    thead {
      td {
        width: 100px;
      }
    }
  
    tr {
      border-bottom: solid 1px #ccc;
    
      td {
        padding: 12px;
        border-right: solid 1px #ccc;
      }
    }
  }

}
  