
.img-content-alt {
  
  img {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    border: 1px #cccccc solid;
  }

  img::after {
    content: attr(altd);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(0);
    left: 0;
  }

  img.img-no-src::after {
    content: attr(altd);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(0);
    left: 0;
  }

  img.img-have-src {
    margin-left: 20px;
  }

  .igct-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;

    p {
      padding: 0;
      margin: 0;
    }
  }
}
