
.counter-container {

  & > div[class^=counter] {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
  }

  & > div[class^=counter] i {
    margin-right: 10px;
  }

  .counter-1 {
    counter-reset: counter1 0;
    .counter {
      counter-increment: counter1 1;
      &:before {
        content: counter(counter1);
      }
    }
  }

  .counter-2 {
    counter-reset: counter2 0;
    .counter {
      counter-increment: counter2 1;
      &:before {
        content: counter(counter2, lower-roman);
      }
    }
  }

  .counter-3 {
    counter-reset: counter3;
    
    .reset {
      padding-left: 20px;
      line-height: 1.6;
      color: #666;
      counter-reset: counter3;
      display: block;
    }

    .counter {
      display: block;
      counter-increment: counter3;

      &:before {
        content: counters(counter3, '-') '\A';
      }
    }
  }
}

.counter-note {
  background: white;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  p {
    padding: 0;
    margin: 0;
  }
}