
.ex-container {
  
  .ex-dropdown {
    line-height: 16px;
    font-size: 16px;
    border: 1px solid red;

    .ex-dropdown-icon {
      display: inline-block;
      height: 2ex;
      width: 2ex;
      background: url(./dropdown_1.png) no-repeat;
      background-size:100% 100%;
      vertical-align: top;
    }
  }

  .exc-note {
    background: white;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
